html {
    font-size: 14px;
  }
  body {
   
    font-family: 'Montserrat';
    background-color: #2196F3;
  }

.btn{
    border-radius: 50px;
    padding: 0 26px;
   background-color: #f44236;
  }

  .btn:hover{

   background-color: #2196F3;
  }
  .mg{
    margin-top: 50px;
  }
  .card-title {
     background-color: #f44236;
     color: #ffffff;
  }
  .iwrapper{
  position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
    }
  .rotate  {
    transform: rotateY(180deg);
  }
  .rotateb {
    transform: rotateY(0deg);
    z-index: 3;
  }
  .front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
  }
  .front{
    
    z-index: 2;
  }
  .back{
    transform: rotateY(180deg);
    z-index: 1;
  }